Some month in 2008 the value peaked for that year. How many months did it take to surpass that 2008 peak? (Since it crashed immediately after this peak) There are many ways to get this answer.

In [1]:
import pandas as pd
df=pd.read_csv('../Data/UMTMVS.csv',parse_dates=True,index_col='DATE')

In [2]:
df.head()

              UMTMVS
DATE
1992-01-01  209438.0
1992-02-01  232679.0
1992-03-01  249673.0
1992-04-01  239666.0
1992-05-01  243231.0

In [4]:
df.loc['2008-01-01':'2009-01-01'].idxmax()

UMTMVS   2008-06-01
dtype: datetime64[ns]

In [5]:
df.loc['2008-01-01':'2009-01-01'].max()

UMTMVS    510081.0
dtype: float64

In [7]:
df2 = df.loc['2008-06-01':]

In [8]:
df2.dropna(inplace=True)

/Users/vipulgaur/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128 entries, 2008-06-01 to 2019-01-01
Data columns (total 1 columns):
UMTMVS    128 non-null float64
dtypes: float64(1)
memory usage: 2.0 KB

In [14]:
df2[df2['UMTMVS']>510081]#.idxmin()

              UMTMVS
DATE
2014-03-01  513700.0
2014-06-01  516935.0
2014-09-01  512988.0
2018-03-01  518285.0
2018-05-01  515105.0
2018-06-01  525660.0
2018-08-01  529157.0
2018-09-01  516992.0
2018-10-01  527031.0

In [15]:
len(df.loc['2008-06-01':'2014-03-01'])

70